*
{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    align-items: center;
}
#logo{
    margin: 10px 34 px;
}

#navbar{
    position: relative;
}
#navbar ul{
    display: flex;
    font-family: 'Alkatra', cursive;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}


#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: aliceblue;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 280px;
    justify-content: center;
     align-items: center;
}
#home::before{
    content: "";
    /*background: url();*/
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
     
}
#home h1{
    color: black;
    text-align: center;
    font-family: 'Alkatra', cursive;
    font-size: 3rem;
}
#home p{
    color: #159895;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Alkatra', cursive;
}


#services{
    margin: 30px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 10px 15px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Alkatra', cursive;
}
#client-section{
    
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('bg1.jpg');
    width: 100%;
    height: 60%;
    z-index: -1;
    opacity: 0.4;

}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 140px;
}

#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('pexels-negative-space-33999.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.3rem;
}
#contact-box form{
    width: 40%;
}
#contact-box{
    font-size: 1.3rem;
    font-family: 'Alkatra', cursive;
}


footer{
    background-color: black;
    color: white;
    padding: 9px 20px;

}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Alkatra', cursive;

}
.h-seconadary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Alkatra', cursive;

}
.btn{
    padding: 5px 10px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 10px;
    font-size: 1.5rem;
    border-radius: 18px;
    cursor: pointer;
}
.center{
    text-align: center;
}




